* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style-type: none;
}
body {
    background-image: url(./img/wallpaper.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

#form-pokemon {
    margin: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}
#form-pokemon h1 {
    font-size: 40px;
    color: aquamarine;
}
#poke-search {
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    backdrop-filter: blur(2px) saturate(180%);
    -webkit-backdrop-filter: blur(2px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.5);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}
#input {
    width: 150px;
    border-radius: 7px;
    padding: 5px;
    font-size: 16px;
    background-color: rgb(205, 255, 148);
    color: black;
}
#btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    font-size: 12px;
    background-color:greenyellow;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;   
}
#poke-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    backdrop-filter: blur(2px) saturate(180%);
    -webkit-backdrop-filter: blur(2px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.678);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    color: aliceblue;
}

.pokemon-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#poke-card h2 {
    font-size: 30px;
}
.poke-data {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
}
.poke-img img {
    width: 200px;
}
.poke-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: 10px;
    padding: 20px;
}
.poke-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
}
.poke-info p {
    font-size: 18px;
    color: beige;
}